.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Slightly visible background */
  display: flex;
  align-items: center;
  justify-content: center;
    z-index: 9999; /* Ensure it's on top */
}
  
.loading-logo {
  text-align: center;
}

.loading-logo img {
  max-width: 200px; /* Adjust as needed */
  position: absolute;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--primary-highlight-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}