
<div class="w-100">
    <nav class="navbar navigation">
        <ul class="m-0 p-0">
            <li class="cursor-pointer" [routerLink]="'../../user'">Users</li>
            <li>
                <div class="ml-2 fa  navigation-icon mr-2 color-unchange chevron-right">
                    <i-lucide name="chevron-right" class="navigation-icon d-flex align-items-center"></i-lucide>
                </div>
            </li>
            <li *ngIf="user" class="highlight-color">{{ user.firstName + " " + user.lastName }}</li>
        </ul>
    </nav>
    <div class="container" *ngIf="user">
        <div class="row mt-3">
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-light text-dark no-animation pt-1 pb-1" (click)="update()" type="button" [disabled]="isLoading">
                    <div class="d-flex justify-content-center color-unchange no-animation">
                        <div class="icon-sm check color-unchange mr-1 no-animation">
                            <i-lucide name="pencil" class="icon-sm d-flex align-items-center"></i-lucide>
                        </div>
                        Update
                    </div>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <label class="form-label fw-bold text-muted">Last Name</label>
                <div class="d-flex align-items-center">
                    <span class="fs-5">{{user.lastName }}</span>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <label class="form-label fw-bold text-muted">First Name</label>
                <div class="d-flex align-items-center">
                    <span class="fs-5">{{user.lastName }}</span>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <label class="form-label fw-bold text-muted">Middle Name</label>
                <div class="d-flex align-items-center">
                    <span class="fs-5">{{user.middleName | nullable }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <label class="form-label fw-bold text-muted">Email</label>
                <div class="d-flex align-items-center">
                    <span class="fs-5">{{user.email }}</span>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <label class="form-label fw-bold text-muted">Username</label>
                <div class="d-flex align-items-center">
                    <span class="fs-5">{{user.userName }}</span>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <label class="form-label fw-bold text-muted">Date Created</label>
                <div class="d-flex align-items-center">
                    <span class="fs-5">{{user.createdAt | date }}</span>
                </div>
            </div>
        </div>
    </div>
</div>