.navigation-icon {
    width: 20px;
    height: 20px;
}
.h-100vh {
  height: 100vh;
}
.navigation-row {
    margin-left: 5px;
    margin-right: 5px;
    padding: 12px 0px 12px 15px;
}
.navigation-img {
    margin-right: 5px;
    padding: 12px 0px 12px 15px;
}