
body {
  font-family: Arial, sans-serif;
}

.content {
  padding: 2rem;
  min-height: 90vh;
}

.sidebar-backdrop {
  background: black;
  height: 103.4vh;
  min-width: 100vw;
  opacity: .7;
  z-index: 1029;
  position: absolute;
}
.sidebar-close {
  width: 0 !important;
  padding: 0;
}
@media (max-width: 767px) {
  .sidebar {
    position: absolute;
    z-index: 1040;
    width: 75%;
  }

  .sidebar.show {
    display: block !important;
  }
}
@media (max-width: 1023px) {
  .sidebar {
    position: absolute;
    z-index: 1040;
  }

  .sidebar.show {
    display: block !important;
  }
  .container-fluid {
    max-height: 90vh;
    overflow: scroll;
    
  }
}
@media (min-width: 1024px) {
  .sidebar {
    display: none;
  }
  .sidebar-backdrop {
    display: none;
  }
}
/* sidebar.component.scss */
.sidebar {
  min-height: 100vh;
  width: 260px;
  padding-top: 1rem;
  transition: width linear 100ms;
}

.sidebar-nav {
  font-size: 1rem;
}

.sidebar-content-open {
  width: 272px;
  transition: width linear 100ms;
}
.sidebar-content-close {
  width: 0px;
  overflow: hidden;
  transition: width linear 100ms;
}
.sidebar-content-close > div {
  width: 0px !important;
}
.content {
  transition: all linear 100ms;
}
.container {
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}
.sidebar {
  margin: 0px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

canvas {
  margin-top: 20px;
  border: 1px solid #ccc;
}