<div class="container sidebar bg-light" [ngClass]="{'sidebar-close': !isSidebarOpen}">
    <div class="row">
        <div class="col-12">asd</div>
    </div>
</div>
<div class="container sidebar-backdrop" [ngClass]="{'d-none': !isSidebarOpen}" (click)="closeSideBar()"></div>
<app-header (sidebarToggle)="toggleSidebar()" [isSideBarOpen]='isSidebarOpen'></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <main class="d-flex">
            <div [class]="isSidebarOpen ? 'sidebar-content-open' : 'sidebar-content-close'">
                asd
            </div>
            <div class="content">
                <h2>Dashboard</h2>
                <p>Welcome to the admin panel!</p>
            </div>
        </main>
    </div>
  </div>
</div>