/* You can add global styles to this file, and also import other style files */
/* styles.scss */

/* Light theme variables */
$light-bg-color: #ffffff;
$light-text-color: #336021;
$light-header-bg: #f8f9fa;
$light-link-color: #336021;
$light-link-color-hover: #ccb62d;
$light-btn-bg: #336021;
$light-btn-text: #ffffff;

$highlight-color: #ccb62d;
$table-hover-color: #d8d1bd;
$black-text-color: #212529;
/* Dark theme variables */
$dark-bg-color: #212529;
$dark-text-color: #f8f9fa;
$dark-header-bg: #343a40;
$dark-link-color: #ccb62d;
$dark-link-color-hover: #f8f9fa;
$dark-btn-bg: #212529;
$dark-btn-text: #f8f9fa;

/* Base styles for transition */
*,
*::before,
*::after {
  transition: background-color 100ms ease, color 10ms ease;
}
.border-main {
  border-right: 1px solid gray;
}
.sidebar-main {
  background-color: $dark-bg-color;
}
.highlight-color {
  color: $highlight-color;
}
/* Light theme (default) */
body {
  background-color: $light-bg-color;
  color: $light-text-color;
}

a {
  color: $light-link-color !important;
  text-decoration: none !important;

}  
a:hover {
  color: $light-link-color-hover !important;
  text-decoration: none !important;
}

button {
  background-color: $light-btn-bg;
  color: $light-btn-text;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Dark theme */
.dark-theme {
  button {
    color: $dark-btn-text;
  }
  button:not(.no-animation):hover {
    color: $dark-link-color-hover !important;
  }
  body, div:not(.sidebar-main, .color-unchange, .modal-dialog), main, app-header, app-admin {
      background-color: $dark-bg-color;
      color: $dark-text-color;
  }
  table, tr, th {
    color: $dark-text-color;
  }
  a {
    color: $dark-link-color !important;
    text-decoration: none !important;
  }
  a:hover {
    color: $dark-link-color-hover !important;
    background-color: $dark-header-bg !important;
    text-decoration: none !important;
  }
  

  header {
      background-color: $dark-header-bg;
  }
}
.log-out {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}
.icon {
    width: 15px;
    height: 15px;
    margin-left: 3px;
}
.icon-md {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.icon-sm {
    width: 20px;
    height: 20px;
}
.th-sort {
  cursor: pointer;
}
.form-control {
  height: calc(1.5em + .5rem + 2px) !important;
  padding: .25rem .5rem !important;
  font-size: .875rem !important;
  line-height: 1.5 !important;
  border-radius: .2rem !important;
}

.form-label {
  font-size: .875rem !important;
  font-weight: bold;
}

.btn {
  padding: .25rem .5rem !important;
  font-size: .875rem !important;
  line-height: 1.5 !important;
  border-radius: .2rem !important;
}
.btn:focus, .btn:active, .btn {
  outline: none !important;
  box-shadow: none !important;
}
.sidebar-content-open-content {
  margin-left: 260px !important;
}
.listing-row:hover {
  background-color: $table-hover-color;
}
.navbar.navigation {
  background-color: #333;
  color: white;
  padding: 1rem;
  border-top: 1px solid gray
}
    
.navbar.navigation ul {
  list-style-type: none;
  display: flex;
  gap: .2rem;
}

.navbar.navigation li {
  font-weight: bold;
}
.col-sidebar {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 272px;
}
.sidebar-open,.navigation-top  {
  border-bottom: 1px solid gray
}
.navigation-row:hover {
  background-color: $highlight-color;
  cursor: pointer;
}
.cursor-pointer {
  cursor: pointer;
}
.container-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.modal-backdrop.show {
  z-index: 1000 !important;
}
.vh-75 {
  min-height: 60vh;
  max-height: 60vh;
}